body{
	color: #000000 ;
}
.cont_menu{
	background: #ffffff85 !important;	
}
.cont_menu .cont_menu_list>ul.cont_list>li>a.link{
	color: #000000 !important;
}
.cont_menu .cont_menu_lag>ul.right_ul>li>a.ua{
	color:#000000;
}
.video_content .text_cent h1 {
    color: #000000;
}
.slider {
    background-color: #000000;
}
.slider:before {
  background-color: #fdb71a;
}
#pp-nav span,
.pp-slidesNav span {
    border-color: #ffffff !important;
}
.line_menu_3 {
    background: #000;
}
.line_menu_2 {
    background: #000;
}
.line_menu_1 {
    background: #000;
}
.logo_menu{
    background: url(../img/white/Logo_1s.png) no-repeat;
    background-size: contain;
    background-position: center;
}
/* Форма */
.cont_fon_form {
    background: linear-gradient(180deg, #969696 0%, #f7f7f7 100%);
}
.cont_fon_form .Fon_form {    
    background-image: url(../img/white/form_w.png);
}
.textarea {
    border-color: #000;
}
/* Переключение услуг */
.bg_fon_1{
  background-image: url(../img/white/usles_w_1.jpg);
}
.bg_fon_2{
  background-image: url(../img/white/usles_w_2.jpg);
}
.bg_fon_3{
  background-image: url(../img/white/usles_w_3.jpg);
}
.bg_fon_4{
  background-image: url(../img/white/usles_w_4.jpg);
}
.bg_fon_5{
  background-image: url(../img/white/usles_w_5.jpg);
}
.bg_fon_6{
  background-image: url(../img/white/usles_w_6.jpg);
}
.bg_fon_7{
  background-image: url(../img/white/usles_w_7.jpg);
}
.bg_fon_8{
  background-image: url(../img/white/usles_w_8.jpg);
}
.bg_fon_9{
  background-image: url(../img/white/usles_w_9.jpg);
}

/* Footer */
._f {
    background-image: url(../img/white/cont_4_w.png);
}
.f_logo {
    background-image: url(../img/white/logo_vert_1.png);
}

/* Button */

.q{
  background: linear-gradient(90deg, #33ccff 0%, #ff99cc 25%, #33ccff 50%, #fe87f7 75%, #33ccff 100%);
  background-size: 500%;
  color: black !important;
}
.btn_q{
  color: black;
}
.v{
  background: linear-gradient(90deg, #33ccff 0%, #ff99cc 25%, #33ccff 50%, #fe87f7 75%, #33ccff 100%);
  background-size: 500%;
  color: black !important;
}
.btn{
  color: black;
}

.footer {
    background-color: #6e6e6e15;
}
.card {
    border: 5px solid #fff;
}
.fon_v_text{
    background: #0e0e0e15;
}



.contein_3 {
  background: linear-gradient(0deg, #919191 0%, #f1f1f1 100%);
}
.contein_4{
  background: linear-gradient(180deg, #919191 0%, #f1f1f1 100%);
}
._1 {
    background-image: url(../img/white/ZER_1w.jpg);
}
._2 {
    background-image: url(../img/white/ZER_2w.jpg);
}
._3 {
    background-image: url(../img/white/ZER_3w.jpg);
}
._4 {
    background-image: url(../img/white/ZER_4w.jpg);
}
._5 {
    background-image: url(../img/white/ZER_5w.jpg);
}
._6 {
    background-image: url(../img/white/ZER_6w.jpg);
}
._7 {
    background-image: url(../img/white/ZER_7w.jpg);
}
._8 {
    background-image: url(../img/white/ZER_8w.jpg);
}
._9 {
    background-image: url(../img/white/ZER_9w.jpg);
}
._10 {
    background-image: url(../img/white/ZER_10w.jpg);
}
._11 {
    background-image: url(../img/white/ZER_11w.jpg);
}
._12 {
    background-image: url(../img/white/ZER_12w.jpg);
}

/* Forma */
.form-inner input[type="submit"]:hover {
    background: linear-gradient(45deg, #51c2ff 0%, #ff99cc 100%);
    color: #000;
    border: 1px solid #000;
}
.form_adv .transparent .form-inner .form_logo {
    background-image: url(../img/white/Logo_1.png);
}
.form-inner input[type="submit"] {
    color: #000;
    border: 1px solid #000;
}

.form-inner h3 {
    color: #000;
}
.form-inner h2 {
    color: #000;
}
.form-inner label {
    color: #000;
}
.form-inner input {
    border-color: #000;
    color: #000;
}


.switch {
    background-image: url(../img/white/Tema_1.png);
}
.switch:checked{
    background-image: url(../img/white/Tema_w.png);
}
.pp-tableCell {
    background: linear-gradient(0deg, #969696 0%, #f7f7f7 100%);
}
.contein_5 {
    background-image: url(../img/white/Table_w.png);
}



.swiper-slide .content {
    color: #000;
}
.text_sec2_1 {
    color: #000;
}

.box_next .window_box_next {
    background: linear-gradient(90deg, #351d9b, #6d018b85);
    outline: 5px solid #66d4f9;
}
.Logo_zer {

}
.box_max .window_box .text_window {
    color: #000;
}
.panoram .p_window:hover {
    -webkit-box-shadow: 0 5px 10px #66d4f9;
    box-shadow: 0 5px 10px #66d4f9;
}
.conteiner-selection-fon {
    background-image: url(../img/white/cont_4_w.png ), linear-gradient(180deg, #919191 0%, #f1f1f1 100%);
}
.conteiner-fon-UP {
    background-image: url(../img/white/form_w.png);
}
.conteiner-selection-UP {
    color: black;
    background: #e9e9e970;
}
.conteiner-selection-DOWN {
    color: black;
    background: #e9e9e970;
}
.text_cent {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
    outline: 8px solid #ffffff85 !important;
    color: #000 !important;
}
.text_tel {
    background: #33ccff !important;
    color: #000 !important;
}
.text_tel h1>a {
    color: #000 !important;
}    
.v1 {
    background-color: #ffffff85 !important;
}
.q1 {
    background-color: #ffffff85 !important;
}
.text_name h1 {
    color: #ffffff !important;
}
.text_name_2 h1 {
    color: #ffffff !important;
}
.swiper-slide .content {
    background: #ffffff85 !important;
}
.title{
    color: #000 !important;
}
.AUQ {
    color: #6d018b !important;
}
.FFP {
    color: #6d018b !important;
}
.Star {

    background-color: #6d018b !important;
   
}
.Vert-Line {
    background: #6d018b !important;
}
.FFPM {
    color: #6d018b !important;
}
.button-block2 {

    background-color: #6d018b !important;
    border: solid 1px #fff;

}
.button-block2:hover {
color: #33ccff !important;
    background-color: #6d018b !important;
    border: solid 1px #fff;

}
.v_cont_5 {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;

}
.v_cont_2 {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
}
.v_cont_0 {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
}
.FTH2 {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
}
.FTH3 {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
}
.FTH1 {
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
}
.FDP1{
    background: linear-gradient(90deg, #33ccff, #ff99cc) !important;
}
.trup {
    background: #ffffff !important;
}
td {

    background: #cdcdcd !important;
    color: #000 !important;
  
}