body{
	color: #000;
}
.cont_menu{
	background: #ffffff85 !important;	
}
.cont_menu .cont_menu_list>ul.cont_list>li>a.link{
	color: #000000 !important;
}
.cont_menu .cont_menu_lag>ul.right_ul>li>a.ua{
	color:#000000;
}
.video_content .text_cent h1 {
    color: #000000;
}
.slider {
    background-color: #000000;
}
.slider:before {
  background-color: #fdb71a;
}
#pp-nav span,
.pp-slidesNav span {
    border-color: #000000 !important;
}
.line_menu_3 {
    background: #000;
}
.line_menu_2 {
    background: #000;
}
.line_menu_1 {
    background: #000;
}
.logo_menu{
    background: url(../img/white/Logo_1s.png) no-repeat;
    background-size: contain;
    background-position: center;
}
/* Форма */
.cont_fon_form {
    background: linear-gradient(180deg, #969696 0%, #f7f7f7 100%);
}
.cont_fon_form .Fon_form {    
    background-image: url(../img/white/form_w.png);
}
.textarea {
    border-color: #000;
}
/* Переключение услуг */
.bg_fon_1{
  background-image: url(../img/white/usles_w_1.jpg);
}
.bg_fon_2{
  background-image: url(../img/white/usles_w_2.jpg);
}
.bg_fon_3{
  background-image: url(../img/white/usles_w_3.jpg);
}
.bg_fon_4{
  background-image: url(../img/white/usles_w_4.jpg);
}
.bg_fon_5{
  background-image: url(../img/white/usles_w_5.jpg);
}
.bg_fon_6{
  background-image: url(../img/white/usles_w_6.jpg);
}
.bg_fon_7{
  background-image: url(../img/white/usles_w_7.jpg);
}
.bg_fon_8{
  background-image: url(../img/white/usles_w_8.jpg);
}
.bg_fon_9{
  background-image: url(../img/white/usles_w_9.jpg);
}

/* Footer */
._f {
    background-image: url(../img/white/cont_4_w.png);
}
.f_logo {
    background-image: url(../img/white/logo_vert_1.png);
}

/* Button */

.q{
  background: linear-gradient(90deg, #33ccff 0%, #ff99cc 25%, #33ccff 50%, #fe87f7 75%, #33ccff 100%);
  background-size: 500%;
  color: black !important;
}
.btn_q{
  color: black;
}
.v{
  background: linear-gradient(90deg, #33ccff 0%, #ff99cc 25%, #33ccff 50%, #fe87f7 75%, #33ccff 100%);
  background-size: 500%;
  color: black !important;
}
.btn{
  color: black;
}

.footer {
    background-color: #6e6e6e15;
}
.card {
    border: 5px solid #fff;
}
.fon_v_text{
    background: #0e0e0e15;
}
.cont_fon_form .cont_zak .cont_zak_text {
    background: #0e0e0e20;
}
.text_fv2 {
    background: linear-gradient(225deg, #fff0, #51c2ff);
}
.text_2 {
    background: linear-gradient(225deg, #fff0, #51c2ff);
}

.contein_3 {
  background: linear-gradient(0deg, #919191 0%, #f1f1f1 100%);
}
.contein_4{
  background: linear-gradient(180deg, #919191 0%, #f1f1f1 100%);
}
._1 {
    background-image: url(../img/ZER_1w.png);
}
._2 {
    background-image: url(../img/ZER_2w.png);
}
._3 {
    background-image: url(../img/ZER_3w.png);
}
._4 {
    background-image: url(../img/ZER_4w.png);
}
._5 {
    background-image: url(../img/ZER_5w.png);
}
._6 {
    background-image: url(../img/ZER_6w.png);
}
._7 {
    background-image: url(../img/ZER_7w.png);
}
._8 {
    background-image: url(../img/ZER_8w.png);
}
._9 {
    background-image: url(../img/ZER_9w.png);
}
._10 {
    background-image: url(../img/ZER_10w.png);
}
._11 {
    background-image: url(../img/ZER_11w.png);
}
._12 {
    background-image: url(../img/ZER_12w.png);
}

/* Forma */
.form-inner input[type="submit"]:hover {
    background: linear-gradient(45deg, #51c2ff 0%, #ff99cc 100%);
    color: #000;
    border: 1px solid #000;
}
.form_adv .transparent .form-inner .form_logo {
    background-image: url(../img/white/Logo_1.png);
}
.form-inner input[type="submit"] {
    color: #000;
    border: 1px solid #000;
}

.form-inner h3 {
    color: #000;
}
.form-inner h2 {
    color: #000;
}
.form-inner label {
    color: #000;
}
.form-inner input {
    border-color: #000;
    color: #000;
}


.switch {
    background-image: url(../img/white/Tema_1.png);
}
.switch:checked{
    background-image: url(../img/white/Tema_w.png);
}
.pp-tableCell {
    background: linear-gradient(0deg, #969696 0%, #f7f7f7 100%);
}
.contein_5 {
    background-image: url(../img/white/Table_w.png);
}


._l1 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}._l2 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}
._l3 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}._l4 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}
._l5 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}._l6 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}
._l7 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}._l8 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}
._l9 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}._l10 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}
._l11 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}._l12 { background: url(../img/white/Logo_zer_1.png) no-repeat;background-size: contain;background-position: center;}
