@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: 'Jura', sans-serif;
  
}
html, body {
  overflow: hidden;
}
.line_blok {
  content: "";
  left: 50%;
  bottom: -6px;
  height: 2px;
  width: 96%;
  display: block;
  background: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px 15px;
  transform: translate(-50%, 0%);
  position: relative;
}

@font-face {
  font-family: Arkhip;
  /* Гарнитура шрифта */
  src: url('../fonts/Arkhip_font.ttf');
}

::-webkit-scrollbar {
  width: 10px;
  float: left;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(153, 0, 240, 1) 100%);
}

.cont_iner {
  height: 1500px;
}

.layout {
  position: absolute;
  width: max-content;
  height: max-content;
}

.parallax {
  background-color: #070535;
  width: 800px;
  height: 350px;
  margin: 200px auto 0;
  overflow: hidden;
  position: relative;
  background-image: url('img/bg.svg');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.parallax__layer {
  position: absolute;
}

.parallax__layer:nth-of-type(1) {
  background-image: url('img/bg1.svg');
  width: 700px;
  height: 310px;
}

.parallax__layer:nth-of-type(2) {
  background-image: url('img/bg2.svg');
  width: 510px;
  height: 260px;
}

.parallax__layer:nth-of-type(3) {
  background-image: url('img/bg3.svg');
  width: 510px;
  height: 260px;
}













/*-------------- |||||||||||||| Cтруктура главного меню |||||||||||||| --------------*/
.cont_menu {
  justify-content: space-between;
  display: inline-flex;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  position: fixed;
  width: 100vw;
  height: 60px;
  padding: 0%;
  margin: 0%;
  top: 0px;
  z-index: 100;


}

.cont_menu .cont_menu_list {
  position: relative;
  width: auto;
  height: auto;
  padding: 0%;
  margin: 0%;
  top: 50%;
  transform: translate(0%, -50%);
}

.cont_menu .cont_menu_list>ul.cont_list {
  position: relative;
  display: inline-block;
  width: max-content;
  height: max-content;
  padding: 0%;
  margin: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  list-style: none;
}

.cont_menu .cont_menu_list>ul.cont_list>li {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 0%;
  margin: 0%;
  float: left;
}

.cont_menu .cont_menu_list>ul.cont_list>li>a.link {
  display: inline-block;
  float: left;
  text-decoration: none;
  font-size: 21px;
  margin: 10px;
  padding: 0px;
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.cont_menu .cont_menu_lag {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0%;
  margin: 0%;
  top: 50%;
  position: relative;
  width: auto;
  height: auto;
  padding: 0%;
  margin: 0%;

  transform: translate(0%, -50%);
}

.cont_menu .cont_menu_lag>ul.right_ul {
  position: relative;
  display: inline-block;
  width: max-content;
  height: max-content;
  padding: 0%;
  margin: 0%;
  list-style: none;
  top: 50%;
  transform: translate(0%, -50%);
}

.cont_menu .cont_menu_lag>ul.right_ul>li {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 0%;
  margin: 0%;
  float: left;

}

.cont_menu .cont_menu_lag>ul.right_ul>li>a.ua {
  display: inline-block;
  float: left;
  text-decoration: none;
  font-size: 21px;
  margin: 10px;
  padding: 0px;
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;

}


.line_menu_1 {
  position: relative;
  content: "";
  bottom: -6px;
  height: 2px;
  
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  background: #ffffff;
  top: 50%;
  transform: translate(0%, -50%);
}

.line_menu_2 {
  position: relative;
  content: "";
  bottom: -6px;
  height: 2px;
  width: inherit;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  background: #ffffff;
  top: 50%;
  transform: translate(0%, -50%);
}

.line_menu_3 {
  position: relative;
  content: "";
  bottom: -6px;
  height: 2px;
  width: 102px;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  background: #ffffff;
  top: 50%;
  transform: translate(0%, -50%);
}

.logo_menu {
  width: 100px;
  height: 28px;
  overflow: visible;
  padding: 0%;
  display: block;
  z-index: 3;
  position: relative;
  text-align: center;
  border: none;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
  background-size: cover;
}

.box_1 {
  position: relative;
  display: inline-flex;
}





/*Button Team*/



.cont_button {
  width: max-content;
  height: 2rem;
  position: relative;
  top: 50%;
  transform: translate(-0%, -50%);
}

.switch {
  position: relative;
  width: 6rem;
  height: 2rem;
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, .7);
  transition: background-image .7s ease-in-out;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.switch:checked {
  background-size: cover;
  transition: background-image 1s ease-in-out;
}


.switch:after {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  top: 10%;
  left: 5%;
  transform: translate(-0%, -50%);
}



@keyframes off {
  0% {
    transform: translateX(60px);
    width: 25px;
  }

  50% {
    width: 60px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(0px);
    width: 25px;
  }
}



.switch:checked:after {
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 25px;
  }

  50% {
    width: 60px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(60px);
    width: 25px;
  }
}


.switch:checked:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  transform-origin: 53px 10px;
  background-color: transparent;
  box-shadow: 5px -1px 0px #fff;
  filter: blur(0px);
  animation: sun .7s forwards ease;
}

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  50% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }

  90% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
      inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }

  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
      inset 0px 0px 2px #efd3a3;
    filter: blur(1px);
  }
}



.switch:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 5px;
  filter: blur(1px);
  background-color: #f5daaa;
  box-shadow: 0px 0px 10px #f5deb4,
    0px 0px 20px #f5deb4,
    0px 0px 30px #f5deb4,
    inset 0px 0px 2px #efd3a3;
  transform-origin: 53px 10px;
  animation: moon .7s forwards ease;
}

@keyframes moon {
  0% {
    transform: rotate(0deg);
    filter: blur(1px);
  }

  50% {
    filter: blur(1px);
  }

  90% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);

  }

  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
  }
}

/*-------------- \\\\\\\\\\\\\\ Cтруктура главного меню \\\\\\\\\\\\\\\ --------------*/
.cont_button_usles {
  position: absolute;
  display: inline-block;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.q1 {
  z-index: 3;
  float: left;
  height: 50px;
  width: 80px;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  position: relative;
  display: block;
  transform: skew(150deg);
  background-color: #00000085;
}

.q {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 3;
  position: absolute;
  display: inline-block;
  float: left;
  height: 35px;
  width: 65px;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  background: linear-gradient(90deg, rgba(0, 51, 153, 1) 0%, rgba(64, 5, 79, 1) 25%, rgba(0, 51, 153, 1) 50%, #6b0098 75%, rgba(0, 51, 153, 1) 100%);
  background-size: 500%;
  color: #fff !important;
}

.btn_q {
  transform: translate(-50%, -50%) skew(30deg);
  top: 50%;
  left: 50%;
  z-index: 4;
  display: block;
  position: absolute;
  background-position: center center;
  text-decoration: none;
  width: inherit;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-family: 'Jura', sans-serif !important;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: sans-serif;
  box-sizing: border-box;

}

.q:hover {
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 500%;
  }
}

.v1 {
  z-index: 3;
  float: left;
  height: 50px;
  width: 250px;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  position: relative;
  display: block;
  transform: skew(150deg);
  background-color: #00000085;
}

.v {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 3;
  position: absolute;
  display: inline-block;
  float: left;
  height: 35px;
  width: 230px;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  background: linear-gradient(90deg, rgba(0, 51, 153, 1) 0%, rgba(64, 5, 79, 1) 25%, rgba(0, 51, 153, 1) 50%, #6b0098 75%, rgba(0, 51, 153, 1) 100%);
  background-size: 500%;
  color: #fff !important;
}

.btn {
  transform: translate(-50%, -50%) skew(30deg);
  top: 50%;
  left: 50%;
  z-index: 4;
  display: block;
  position: absolute;
  background-position: center center;
  text-decoration: none;
  width: inherit;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-family: 'Jura', sans-serif !important;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: sans-serif;
  box-sizing: border-box;

}

.v:hover {
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 500%;
  }
}

.cont_reglam {
  width: 100%;
  height: -webkit-fill-available;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;

  outline: 5px solid #00000050;
  background: linear-gradient(90deg, #351d9bcf, #6d018b15);
}

.reglam_text {
  position: relative;
  margin: 0px;
  padding: 1rem;

}

.reglam_t1 {
  text-align: justify;
}

.reglam_t2 {
  text-align: justify;
}

.reg_t1 {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  text-align: justify;
  font-weight: 600;
  line-height: 1.45;
  text-decoration: none;

}

.reg_t2 {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
  line-height: 1.45;
  text-decoration: none;

}

.line_blok_reg {
  content: "";
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  display: block;
  background: #fff;
  margin: 10px 0px 10px 0px;
}

/*-------------- \\\\\\\\\\\\\\ Cтруктура главного меню \\\\\\\\\\\\\\\ --------------*/


/*-------------- |||||||||||||| Cтруктура панорамы услуг |||||||||||||| --------------*/
.contein_4 {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}


.panoram {
  z-index: 3;
  height: calc(100vh - 60px) !important;
  margin: 0%;
  padding: 32px;
  overflow: hidden;
  display: grid;
  position: relative;
  top: 60px;
  grid-template-columns: repeat(auto-fit, minmax(6vw, 1fr));
  grid-auto-flow: dense;
}

.panoram .p_window {
  z-index: 3;
  padding: 0%;
  display: block;
  position: relative;
  margin: 5px;
}

.panoram .p_window:hover {

  -webkit-box-shadow: 0 5px 10px rgb(101 15 126);
  box-shadow: 0 5px 10px rgb(101 15 126);
}

.Fon_card {
  width: 100%;
  height: 100%;
}

.box_max {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.box_max .window_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-54%, -50%);
  width: max-content;
  padding: 0px 2rem;
  /* 
  outline: 5px solid #2424246b; */
}

.box_max .window_box .text_window {


  font-weight: 500;
  font-size: 30px;
  color: white;


}

._v1 {
  width: 100%;
  height: 100%;
}

._v2 {
  width: 100%;
  height: 100%;
}

._v3 {
  width: 100%;
  height: 100%;
}

._v4 {
  width: 100%;
  height: 100%;
}

._v5 {
  width: 100%;
  height: 100%;
}

._v6 {
  width: 100%;
  height: 100%;
}

._v7 {
  width: 100%;
  height: 100%;
}

._v8 {
  width: 100%;
  height: 100%;
}

._v9 {
  width: 100%;
  height: 100%;
}

._v10 {
  width: 100%;
  height: 100%;
}

._v11 {
  width: 100%;
  height: 100%;
}

._v12 {
  width: 100%;
  height: 100%;
}



.box_next {
  position: absolute;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  color: #fff;
  transition: all 0.3s ease;
}

.box_next:hover {
  opacity: 1;
}



.Logo_zer {
  pointer-events: none;

  height: 80%;
  min-width: 10%;
  max-width: 42%;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin: 0px 0px;
  padding: 0%;
  opacity: 1;
  transition: all 0.3s ease;
  transform: translate(0%, -50%);
}

._l1 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;

}

._l2 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l3 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l4 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l5 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l6 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l7 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l8 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l9 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l10 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l11 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l12 {
  width: calc(150px + (225 - 150) * ((100vw - 2048px) / (2560 - 2048)));
  z-index: 1;
}

._l1_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l2_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l3_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l4_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l5_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l6_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l7_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l8_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l9_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l10_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l11_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

._l12_v {
  width: calc(325px + (625 - 325) * ((100vw - 2048px) / (2560 - 2048)));
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}



._1 {
  grid-column: span 5;
  grid-row: span 5;
  background-size: cover;
  background-position: center;
}

._2 {
  grid-column: span 3;
  grid-row: span 3;
  background-size: cover;
  background-position: center;
}

._3 {
  grid-column: span 2;
  grid-row: span 5;
  background-size: cover;
  background-position: center;
}

._4 {
  grid-column: span 4;
  grid-row: span 4;
  background-size: cover;
  background-position: center;
}

._5 {
  grid-column: span 4;
  grid-row: span 3;
  background-size: cover;
  background-position: center;
}

._6 {
  grid-column: span 4;
  grid-row: span 4;
  background-size: cover;
  background-position: center;
}

._7 {
  grid-column: span 3;
  grid-row: span 2;
  background-size: cover;
  background-position: center;
}

._8 {
  grid-column: span 6;
  grid-row: span 6;
  background-size: cover;
  background-position: center;
}

._9 {
  grid-column: span 4;
  grid-row: span 6;
  background-size: cover;
  background-position: center;
}

._10 {
  grid-column: span 4;
  grid-row: span 4;
  background-size: cover;
  background-position: center;
}

._11 {
  grid-column: span 3;
  grid-row: span 2;
  background-size: cover;
  background-position: center;
}

._12 {
  grid-column: span 3;
  grid-row: span 2;
  background-size: cover;
  background-position: center;
}

/*-------------- \\\\\\\\\\\\\\ Cтруктура панорамы услуг \\\\\\\\\\\\\\\ --------------*/
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  transform: skew(30deg);
  content: attr(data-tooltip);
  position: absolute;
  width: max-content;
  left: 0px;
  top: 0;
  background: #191921;
  color: #fff;
  padding: 10px 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  left: 100px;
}



._f {
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.vetrina {
  z-index: 1;
  position: relative;
  display: inline-flex;
  height: inherit;
  justify-content: space-between;
  width: 80%;
  height: 70vh;
  margin: 120px auto 15px auto;
  padding: 0%;
  overflow: hidden;
  position: relative;
  background-color: #6e6e6e15;
  flex-direction: row;
}

.v_text {
  display: block;
  position: relative;
  margin: 10px;
  padding: 0px;
}

.cont_rb {
  width: 50%;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.fon_v_text {
  padding: 10px;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.v_cont_0 {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #351d9b, #6d018b00);
  margin: 0px;
  padding: 3px;
  width: -webkit-fill-available;
}

.v_cont_1 {
  float: left;
  margin: 0px;
  position: relative;
  display: grid;
  gap: 1rem;
  width: 100%;
}

.v_cont_3 {
  display: grid;
  float: left;
  margin: 0px 0px 0px 15px;
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
  background: linear-gradient(90deg, #351d9b, #6d018b00);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.v_cont_4 {
  float: left;
  margin: 0px;
  position: relative;
  width: 100%;
  justify-items: center;
  display: grid;
  gap: 1rem;
  align-items: center;
}

.v_cont_5 {
  position: relative;
  display: grid;
  gap: 1rem;
  background: linear-gradient(45deg, #351d9b, #6d018b00);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-items: center;
}

.v_cont_6 {
  display: grid;
  float: left;

  gap: 1rem;
  margin: 0px;
  position: relative;
  transform: translate(-0%, -50%);
  top: 50%;
  width: 80%;
  height: -webkit-fill-available;
  justify-items: center;
  align-items: center;
  justify-content: center;
}



.cont_vet {
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.line_blok_t {
  content: "";
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  display: block;
  background: #fff;
  margin: 10px 0px 10px 0px;
}

.cont_v_b1 {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: -webkit-fill-available;
  gap: 1rem;
}

.cont_v_b2 {
  position: relative;
  display: block;
  width: 100%;
  height: -webkit-fill-available;
  display: inline-flex;
  align-content: center;
  align-items: center;
  gap: 15px;
}

.v_cont_2 {
  float: left;
  width: auto;
  height: 100%;

  background: linear-gradient(225deg, #351d9b, #6d018b85);
}

.text_fv1 {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 10px auto 0px auto;
  line-height: 1.25;
  font-weight: 600;
  text-align: left;
}

.text_fv0 {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 0px auto 0px auto;
  line-height: 1.25;
  font-weight: 600;
  text-align: left;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: relative;
  transform: translate(-0%, -50%);
  top: 50%;

}

.text_fv2 {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  margin: 0px auto 0px auto;
  line-height: 1.25;
  font-weight: 300;
  text-align: center;
}

.text_fv3 {
  font-family: 'Jura', sans-serif;
  font-size: 16px;

  margin: 0px auto 0px auto;
  line-height: 1.25;
  font-weight: 300;
  text-align: center;
}

.fon_buton_f {
  position: relative;
  display: grid;
  gap: 1rem;
  top: 0%;
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 1rem;
  background-image: url(../img/form.png);
  background-repeat: no-repeat;
  background-size: cover;
  outline: 5px solid #00000050;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
}

.cont_button_f_usles {
  position: relative;
  display: inline-block;

}

.footer {
  z-index: 1;
  height: max-content;
  width: 80%;
  margin: 15px auto 30px auto;
  padding: 0px 15px 15px 15px;
  overflow: hidden;
  display: inline-flex;
  position: relative;
}

.cont_f_logo {
  position: relative;
  display: block;
  width: 20%;
  padding: 10px;
  margin: 10px;
  /* background: #0e0e0e60; */
}

.f_logo {
  display: block;
  position: relative;
  overflow: auto;
  z-index: 1;
  width: 100%;
  height: 80%;
  padding: 0px;
  margin: 0px auto 0px auto;
  top: 50%;
  transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
}

.f_cont {
  display: block;
  position: relative;
  margin: 0px;
  padding: 5px 5px 5px 5px;
  height: 100%;
  width: 100%;
}

.text_footer_bord {
  display: block;
  position: relative;
  margin: 0px;
  padding: 20px 20px 0px 20px;
  height: 100%;
  width: 100%;
}

.text_footer {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  outline: 5px solid #00000050;
  background: linear-gradient(90deg, #00339985, #6d018b50);
}

.text_f1 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 16px;
  float: left;
  padding: 5px;
}

.text_f2 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 16px;
  float: right;
  padding: 5px;
}

.footer_line {
  position: relative;
  content: "";
  bottom: -6px;
  height: 2px;
  width: inherit;
  display: block;
  background: #ffffff;
}

.bloc_line_f {}
























/*-------------- |||||||||||||| Cтруктура скролла страницы |||||||||||||| --------------*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

q:before,
q:after {
  content: '';
  margin: 0px;
  padding: 0px;
}

abbr,
acronym {
  border: 0;
}

.section {
  text-align: center;
}

/* Section 1
* --------------------------------------- */

#section1 img {
  margin: 20px 0;
  opacity: 0.7;
}

/* Section 2
* --------------------------------------- */
#section2 h1,
#section2 p {
  z-index: 3;
}

#section2 p {
  opacity: 0.8;
}

#section2 #colors {
  right: 60px;
  bottom: 0;
  position: absolute;
  height: 413px;
  width: 258px;
  background-image: url(imgs/colors.gif);
  background-repeat: no-repeat;
}

/* Section 3
* --------------------------------------- */
#section3 #colors {
  left: 60px;
  bottom: 0;
}

#colors2,
#colors3 {
  position: absolute;
  height: 163px;
  width: 362px;
  z-index: 1;
  background-repeat: no-repeat;
  left: 0;
  margin: 0 auto;
  right: 0;
}

#colors2 {
  background-image: url(imgs/colors2.gif);
  top: 0;
}

#colors3 {
  background-image: url(imgs/colors3.gif);
  bottom: 0;
}



/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip {
  color: #AAA;
}

.twitter-share-button {
  position: fixed;
  z-index: 99;
  right: 149px;
  top: 9px;
}

#starGithub {
  position: fixed;
  z-index: 99;
  right: 264px;
  top: 9px;
  width: 90px;
}

/*-------------- \\\\\\\\\\\\\\ Cтруктура скролла страницы \\\\\\\\\\\\\\\ --------------*/
.contein_5 {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.tb_price {

  width: 1280px;
  height: auto;
  display: grid;
  position: absolute;
  left: 50%;
  top: calc(50% + 45px);
  padding: 0%;
  margin: 0%;
  transform: translate(-50%, -50%);
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 0px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  background: #00000000;
}

.trup {

  background: #242424b7;
}

td {
  color: white;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #28292a;
  transition: .3s;
}

tr:hover td {
  background: #00339985;
}

.tb_price th {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(46deg, #33ccff 0%, #ff99cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tb_price th.line_t {
  padding: 10px;
}

.tb_price td {
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  height: 3.5rem;
}

/* .tb_price td:hover {
  background: linear-gradient(46deg, #33ccff 0%, #ff99cc 100%);
  color: #000;
  font-size: 24px;
} */

.tb_price td.line_tabl {
  padding: 10px 20px;
}

/*-------------- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Стили Слайдера Блок-2 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ --------------*/
[class^=swiper-button-] {
  transition: all 0.3s ease;
}

.contein_2 {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.usles_b {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  position: relative;
  top: 60px;
  height: calc(100vh - 60px) !important;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.swiper-container {
  width: 80%;
  height: calc(100vh - 60px) !important;
  float: left;
  transition: opacity 0.6s ease, transform 0.3s ease;
}

.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}

.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.1s ease;
  height: 194px;
  margin-bottom: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-container.nav-slider .swiper-slide:hover {
  opacity: 1;
}

.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}

.swiper-container.nav-slider .swiper-slide .content .title {
  font-family: 'Arkhip', sans-serif;
  font-weight: 400;
  font-size: 18px;
  top: 40%;
  left: 0;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.bg_cont {
  position: absolute;
  transform: translate(-0%, -50%);
  top: 50% !important;
  left: 5rem !important;
  padding: 15px;
}

.swiper-slide .content {
  position: absolute;
  gap: 1rem;
  width: 700px;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  background: #14141470;
  border-radius: 15px;

  grid-template-areas: 
  "H2T H2T"
  "VertLine caption";
  grid-template-columns: 5px auto;
}
.Vert-Line{
  grid-area: VertLine;
  display: block;
  width: 3px;
  background: aqua;
  height: -webkit-fill-available;
}


.H2T{
  grid-area: H2T;
}
.swiper-slide .content .title {
  
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
  margin: 0px;
}

.swiper-slide .content .caption {
  grid-area: caption;
  display: grid;
  text-align: justify;
  gap: 1rem;
  font-size: 13px;
  line-height: 1.4;
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.7s ease;
  margin: 0px;
}

.Cont-Blok1{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  text-align: justify;
  width: max-content;
  column-gap: 2rem;
}
.Cont-Blok2{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  text-align: justify;
  width: 50%;
}
.Cont-Star{
  display: inline-flex;

}
.cont_us_t1 {
  outline: 5px solid #00000050;
  background: linear-gradient(90deg, #351d9bcf, #6d018b15);
  margin: 20px 0px 0px 0px;
  padding: 15px;
}

.cont_us_t2 {
  outline: 5px solid #00000050;
  background: #242424eb;
  margin: 0px;
  padding: 15px;
  border-radius: 1rem;
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.text_sec2_1 {

  font-family: 'Arkhip', sans-serif;
  font-weight: 500;
  font-size: 36px;
  padding: 5px;
  color: white;
}

.text_sec2_2 {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  padding: 0px 15px;
  text-align: justify;
  position: relative;
  margin: 10px 0px 0px 0px;
}

.text_sec2_3 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 26px;
  padding: 0px 15px;
  text-align: left;
}

.swiper-slide .content .caption.show {
  transform: translateX(0);
  opacity: 1;
}

[class^=swiper-button-] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

/*-------------- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Стили Контейнера Формы Блок-3 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\--------------*/
.contein_3 {
  position: relative;
  height: 100%;
  width: 100%;
}

.cont_fon_form {
  position: absolute;
  width: 1280px;
  height: 750px;
  left: 50%;
  top: calc(50% + 30px);
  padding: 0%;
  margin: 0%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
}

.cont_fon_form .Fon_form {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: grid;
  grid-template-columns: 35% max-content auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  justify-items: center;
}

.cont_fon_form .Fon_form .cont_zak {
  width: 100%;
  height: inherit;
  float: left;
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.cont_fon_form .Fon_form .cont_zak .cont_zak_text {
  position: relative;

  padding: 0%;
  margin: 0%;

  height: 80%;
  width: 80%;
}

.cont_fon_form .Fon_form .cont_zak .cont_zak_text .cont_border_zak {
  position: absolute;

  padding: 15px;
  margin: 0%;
  width: 100%;
  height: 100%;
  display: grid;
}

.text_0 {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  padding: 5px;
  margin: 0px;
  line-height: 1.25;
  font-weight: 500;
  text-align: right;
}

.text_1 {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.text_2 {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  padding: 5px;
  margin: 0px 0px 0px 0px;
  line-height: 1.25;
  font-weight: 500;
  text-align: left;
}

.text_3 {
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  margin: 20px 0px 0px 0px;
}

.border_form {
  height: inherit;
  width: 10px;
  float: left;
  background-color: #0e0e0e80;
}

.cont_fon_form .Fon_form .form_adv {
  position: relative;
  height: inherit;
  width: auto;
  padding: 0%;
  background-size: cover;
  background-image: url(../img/Form.jpg);
  margin-left: auto;
  margin-right: auto;
}

.cont_fon_form .Fon_form .form_adv .transparent {
  height: max-content;
  padding: 0px;
  margin: 0% auto 0% auto;

  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;

}

.form_adv .transparent .form-inner {
  text-align: center;
  display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 630px;
}

.form_adv .transparent .form-inner .form_logo {
  position: relative;
  width: 200px;
  height: 56px;
 
  padding: 0px;
  background-size: cover;
}

.form-inner h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.form-inner h2 {
  position: relative;
  text-align: justify;
  padding: 0px;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form_line_info {
  position: relative;
  width: -webkit-fill-available;
  height: auto;
  display: inline-flex;

  justify-content: space-between;
}



.form_name {
  width: max-content;
  float: left;
  
  text-align: left;
}

.form_name_m {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 0px;
  
  text-align: left;
  display: inline-block;
}

.form_name_m .email_form {
  display: flex;
  padding: 5px;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form_adv .transparent .form-inner .form_name_b {
  width: auto;
  height: auto;

  position: relative;
}

.textarea {
  resize: none;
  display: block;
  width: 630px;
  margin: 0px;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, .2);
  font-family: 'Jura', sans-serif;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.textarea:focus {
  border-color: #66d4f9;
}

.form-inner {
  position: relative;
}

.form-inner label {
  display: block;
  padding: 5px;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form-inner input {
  display: block;
  width: 278px;
  padding: 5px;
  margin: 0px;
  border-width: 2px;
  line-height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fff;
  background: rgba(255, 255, 255, .2);
  font-family: 'Jura', sans-serif;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-inner input:focus {
  border-color: #66d4f9;
}

.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.form-inner input[type="submit"] {
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  line-height: 1;
  width: 210px;
  height: 43px;
  letter-spacing: 0.5px;
  border-radius: 3px;
  background: #fff;
  animation: filter-animation 3s infinite;
  background-position: center center;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  z-index: 4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*-------------- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Стили Прелодера Блок-0 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\--------------*/
.cont_loder_fon {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  animation: fade3 .2s 5s forwards;
  background-image: url(../img/cont_4_1.jpg);
  font-family: 'Arkhip', sans-serif;
  display: block;
  z-index: 999;
}

.start {
  display: none;
  z-index: 0;
}

@keyframes fade3 {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.cont_loder {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  padding: 0%;
  margin: 0%;
  transform: translate(-50%, -50%);
}

#example1 .new1 {
  font-size: 100px;
  opacity: 0;
}

#example .new {
  position: fixed;
  font-size: 100px;
  opacity: 0;
  left: 50%;
  padding: 0%;
  margin: 0%;
  transform: translate(-50%, 0%);
}

#example1 {
  display: none;
}

#example {
  display: none;
}

#example .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
  animation: fade1 .2s .4s forwards;
}

#example1 .div_opacity1 {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*-------------- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Стили Анимация Скролла Страницы Блок-0 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\--------------*/

/*-------------- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Стили Видео Блок-1 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\--------------*/

.centr {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.centr:hover {
  background: linear-gradient(46deg, #50cdff94 0%, #ff99cc91 100%);
  /* background: linear-gradient(46deg, #33ccff 0%, #ff99cc 100%); */
  color: #000;
  font-size: 24px;
}
.p_foter {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
  line-height: 1.45;
  text-decoration: none;
  margin: 0px 1rem;

}

.Cont_Icons {
  display: inline-flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, #ffffff00, #311e7e, #ffffff00);
}

.Icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.Linked {
  background-image: url(../img/Linked.png);
}

.GitHub {
  background-image: url(../img/GitHub.png);
}

.LeetCode {
  background-image: url(../img/LeetCode.png);
}

.Instagram {
  background-image: url(../img/Instagram.png);
}

.Google {
  background-image: url(../img/Google.png);
}

/*  */
h3 {
  font-size: 20px;
  font-weight: 500;
}


.conteiner-selection-fon {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url(../img/dark/cont_4_1.png), linear-gradient(0deg, #0d0d0d 0%, #1e1e1e 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  align-items: end;
}

.conteiner-selection {
  display: grid;
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  grid-template-rows: 2fr 1fr;
  text-align: justify;
  justify-items: center;
}
.TH{
  display: grid;
  gap: 5px;
}

.conteiner-fon-DOWN{
  display: grid;
  position: relative;
  width: 100%;

  justify-content: center;
}
.conteiner-selection-DOWN {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 1280px;
  gap: 1rem;
  padding: 3rem;
  column-gap: 4rem;
  grid-template-areas:
    "FTH1 FTH2 FTH3"
    "MP1 MP2 MP3"
    "FDP1 FDP1 FDP1";
  align-items: stretch;
  justify-items: stretch;
  justify-content: space-evenly;
  align-content: center;
  background: #14141470;
}
.conteiner-fon-UP{
  display: grid;
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #ffffff00, #1e1e1e, #ffffff00);
  justify-content: center;
  background-image: url(../img/form.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;


}
.cont-text-kon {
  grid-area: CTK;
  display: grid;
  position: relative;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "FTH FTH"
    "PF5 PF6"
    "PF7 PF8"
    "PF3 PF2"
    "PF1 PF4";
}

.FTH {
  grid-area: FTH;
  display: inline-flex;
  gap: 5px;
  flex-direction: column;
}
.FFP{
  font-weight: 400;

  color: #66d4f9;
  font-size: 18px;

}
.FFPM{
  color: #8ae2ff;
}
.PF1 {
  grid-area: PF1;
}

.PF2 {
  grid-area: PF2;
}

.PF3 {
  grid-area: PF3;
}

.PF4 {
  grid-area: PF4;
}

.PF5 {
  grid-area: PF5;
}

.PF6 {
  grid-area: PF6;
}

.PF7 {
  grid-area: PF7;
}

.PF8 {
  grid-area: PF8;
}

.line-horison {
  grid-area: line-horison;
}
.line-horison{
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #234099;
}

.line-horison-main{
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #234099;
}
.FTH1 {
  grid-area: FTH1;
  background: linear-gradient(90deg, #00339985, #6d018b50);
}

.FTH2 {
  grid-area: FTH2;
  background: linear-gradient(90deg, #00339985, #6d018b50);
}

.FTH3 {
  grid-area: FTH3;
  background: linear-gradient(90deg, #00339985, #6d018b50);
}

.MP1 {
  grid-area: MP1;
}

.MP2 {
  grid-area: MP2;
}

.MP3 {
  grid-area: MP3;
  display: grid;
  position: relative;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: start;
}

.FDP1 {
  grid-area: FDP1;
  font-size: 16px;
  font-weight: 500;
padding: 3px;
  margin: auto;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, #00339985, #6d018b50);
}



.FDP3 {
  grid-area: FDP3;

}


.lovo-vert {
  background-image: url(../img/dark/logo_vert_2.png);
  display: block;
  position: relative;
  overflow: auto;
  z-index: 1;
  width: 125px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;

}

.cont-schedule {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto 1fr auto;
  gap: 0.5rem;
  column-gap: 2rem;
  align-content: stretch;
}

.image-links {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #5c5c5c;
  border: solid 1px #ffffff00;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.image-links:hover {
  background-color: #458397;
  border: solid 1px #66d4f9;
}
.IL1 {
  background-image: url(../img/GitHub.png);
}

.IL2 {
  background-image: url(../img/LeetCode.png);
}

.IL3 {
  background-image: url(../img/Linked.png);
}

.IL4 {
  background-image: url(../img/Instagram.png);
}

.IL5 {
  background-image: url(../img/Google.png);
}
/*  */

.box_next .window_box_next {
  z-index: 2;
  width: inherit;
  height: inherit;
  display: grid;
  position: relative;
  text-align: left;
  gap: 0.7rem;
  padding: 1rem;

  align-items: center;
  overflow: hidden;
  align-content: center;
}

.cont-elems-window{
  display: grid;
  position: relative;
  grid-template-columns: max-content max-content;
  gap: 0.2rem;
  column-gap: 2rem;
}

.MIN{
  font-size: 12px;
}
.WIND{
  color: #fff;
  font-size: 16px;
  font-size: 500;
}
.box_next .window_box_next .text_window_h3 {

  font-weight: 500;
  font-size: 20px;
  text-align: justify;


}
.LineMargin{
  display: grid;
  gap: 5px;
}
.H3INT{
  font-family: 'Inter', sans-serif;
}
.Star {
  width: 30px;
  height: 30px;
  background-color: #33ccff;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.AUQ{

  color: #8fe3ff;
}
.P2T{
  
  font-size: 19px;
  font-weight: 600;
}
.button-block2{
  display: block;
  color: #fff;
  background-color: #0b8aaa;
  border: solid 1px #fff;
  font-size: 18px;
  font-weight: 600;
  width: max-content;
  height: 30px;
  padding: 0px 2rem;
  transition: all 0.3s;
}
.button-block2:hover{
  color: #0b8aaa;
  background-color: #fff;
  border: solid 1px #0b8aaa;
}
p{
  font-size: 14px;
  font-weight: 600;
}
.content-title{
  position: absolute;
  gap: 1rem;
  color: #fff;
  display: grid;
  justify-items: center;
  grid-template-columns: 5px auto;
  justify-content: center;
}
.title{
  font-weight: 600;
  font-size: 20px;

}
.cont-text-reg{
  grid-area: CTR;
  display: grid;
  position: relative;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}
.cont-logo {
  grid-area: CL;
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.conteiner-selection-UP {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  "CL CTR CTK"
  "CIF CIF CIF";
  align-items: center;
  width: 1280px;
  gap: 4rem;
  padding: 3rem;

  
  justify-items: center;
  align-items: start;
  align-content: center;
  background: #14141470;
}
.cont-images-foter{
  grid-area: CIF;
  display: grid;
  gap: 1rem;
  width: -webkit-fill-available;


}
.line-cont-imgs{
  display: inline-flex;
  gap: 1rem;
  width: -webkit-fill-available;
  justify-content: space-evenly;
}
.FITH{

  display: inline-flex;
  gap: 5px;
  flex-direction: column;
}
.IMGF{
  display: block;
  position: relative;

  background-size: contain;
  height: 100px;
  width: 160px;
  background-color: #6d018b45;
  border: solid 3px #3c0a58;
  border-radius: 0px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
 
}
.IMGF:hover{
  box-shadow: 0 5px 10px rgb(101 15 126);
  background-color: #00339985;
  border: solid 2px #003399;

}
.IS1{
  background-image: url(../img/dark/Logo_zer_1.png);
}
.IS2{
  background-image: url(../img/html.png);
}
.IS3{
  background-image: url(../img/js.png);
}
.IS4{
  background-image: url(../img/typescript.png);
}
.IS5{
  background-image: url(../img/science.png);
}